body{
	margin: 0px;
}
.nav-wrap{
	display: flex;
	justify-content: space-between;
	padding: 38px;
}
.left-side{
	display: flex;
}
.nav-wrap > .left-side > div{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}
.nav-link-wrap{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}
.nav-link-wrap a{
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}
.nav-link-wrap:hover{
	border-bottom: 1px solid black;
}
.nav-link-wrap a:hover{
	color:black;
}


