body{
	padding: 0px;
	border: 0px;
}
.nav-bar{
	background-color: #20B2AA;
}
.nav-wrap{
	display: flex;
	padding: 0px;
}
.nav-link-wrap{
	padding: 20px;
	background-color:#87CEFA;
}
.nav-link-wrap a{
	border: none;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.2em;
}
.nav-link-wrap:hover{
	border-bottom: 1px solid black;

}
.para{
	padding-left: 18px;
}
.para>h1{
	font-family: unset;
	text-transform:;
}